<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>I'm Georgia and this is my first app!!</p>
<p><a href="http://www.linkedin.com/profile/view?id=AAIAAAg-CFkBsC2Hi76PTIsY9KjUJt6UPOonj0w&trk=nav_responsive_tab_profile_pic">About Me</a></p>
<p><a href="https://twitter.com/GeorgiaAHeath">Follow me on Twitter!</a></p>
